/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$body-padding: 20px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    color: #000;
    padding: $body-padding;
    background: rgb(255,255,255);
    transition: all 0.5s ease 0s;
}

header {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.section-intro ul{
    list-style-type: none;
    display: inline-block;
    padding: 0 $body-padding;
}

.section-intro__hero {
    width: 80%;
    height: 80%;
    max-width: 400px;
    min-width: 280px;
    display: inline-block;
    margin: 0 auto;
    padding: $body-padding 0 0;
}

.section-intro__msg {
    padding: $body-padding 0;
}

.section-intro__msg p {
    width: 210px;
    display: block;
    margin: 0 auto;
}

footer {
}